<!DOCTYPE html>
<html>
    <head>
        <title>Архив всех статей</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/article.css">
    </head>
    <body>
        <div class="header">
            <p class="center_pos"><img id="logo" src="{{ STATIC_URL }}img/django-logo-.png" height="100" alt=""/></p>
                <div class="header-text-area" style="float: left">
                    <p class="service-title">Коллективный блог</p>
                    <a href="/register/" class="register-link" style="float: left">Регистрация</a>
                    <a href="/login/" class="register-link">Вход</a>
                </div>
                <div class="icons-for-parallax">
                     <img class="icon-for-parallax-first" src="{{ STATIC_URL }}img/article-icon-for-parallax.png">
                     <img class="icon-for-parallax-second" src="{{ STATIC_URL }}img/article-icon-for-parallax.png">
                    <img class="icon-for-parallax-third" src="{{ STATIC_URL }}img/article-icon-for-parallax.png">
                </div>
        </div>
        <div  class="archive">
            {% for post in posts %}
            <div class="one-post">
                <p class="fold-button" style="float: right">Свернуть</p>
                    <h2 class="post-title">
                        <a href="/article/{{ post.id }}">{{ post.title }}</a>
                    </h2>
                <div class="article-info">
                    <div class="article-author">{{ post.author.username }}</div>
                    <div class="article-created-date">{{ post.created_date }}</div>
                </div>
                <p class="article-text">{{ post.get_excerpt }}</p>
                <div class="one-post-shadow"></div>
            </div>
            {% endfor %}
        </div>
        <script src="{{ STATIC_URL }}js/jquery-3.4.0.min.js"></script>
        <script src="{{ STATIC_URL }}js/fold-post.js"></script>
        <script src="{{ STATIC_URL }}js/highlight-post.js"></script>
    </body>
</html>
