body {
    background-color: #97dbce;
}

div {
    display: block;
}

.service-title {
    font-size: 24pt;
    color: #035d4c;
}

.register-link {
    display: inline;
    font-size: 20pt;
}

a:visited {
color:#2E8B57;
text-decoration:none
}

a:hover {
color:#2E8B57;
text-decoration: underline
}

.archive {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #035d4c;
}

.article {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.header {
    background: #cbebe5;
}

.header a {
    float: right;
    text-align: right;
}
.article-info div {
    display: inline;
}

.article-created-date {
    float: right;
    text-align: right;
}

.center_pos {
    text-align: center;
    z-index: 2;
}

.article-text {
    text-align: justify;
}
.post-title {
    font-size: 18pt;
}

.one-post {
    position: relative;
}

.one-post.folded .article-author{
    display: none;
}
.one-post.folded .article-created-date{
    display: none;
}
.one-post.folded .article-text{
    display: none;
}

.one-post-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    z-index: -1; /* это свойство «отодвигает» элемент на задний план */
 }
.icons-for-parallax {
 margin-top: 100px;
 margin-bottom: 100px;
 height: 530px;
 position: relative;
}
.icons-for-parallax img {
 /* здесь находятся общие для всех картинок стили */
 position: absolute;
 top: 0;
}
.icon-for-parallax-first {
 margin-top: 150px;
 z-index: 2; /* эта картинка на переднем плане, у неё больший z-index
*/
}
.icon-for-parallax-second {
 width: 125px; /* уменьшить ширину для картинки, чтобы визуально */
 /* находилась дальше для пользователя */
 margin-top: 100px; /* эта картинка слегка смещена вправо и вниз */
 margin-left: 80px; /* за счет левой и верхней границ */
 z-index: 1;
}
.icon-for-parallax-third{
 width: 110px;
 margin-top: 50px;
 margin-left: 160px;
 z-index: 0; /* эта картинка на заднем плане, у неё меньший z-index */
}


